body {
	background-image: url(/cdn/assets/night.jpg);
}

.loginBorder {
	background-color: #262d41;
	box-shadow: 7px 7px 10px #0a0a0a;
}

.x img:hover {
	background-color: rgb(26, 33, 58);
}

.username,
.retypePassword,
.password {
	background-color: #171a25;
	color: white;
}

.instructions {
	color: white;;
}

.loginButton button {
	background-color: #171a25;
	color: white;
}

.loginButton button:hover {
	background-color: #ffffff;
	color: #060C10;
}
div.logo img {
	 filter: invert();
 }

 .loginFeedback {
	color: white;
}

a.register {
	color: rgb(144, 164, 219);
}

a.register:hover {
	color: rgb(101, 52, 146);
}