<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/cdn/stylesheets/home.css" />
    </head>
    <body>
        <div class="logo">
			<img src="/cdn/assets/assbook.svg">
        </div>
        <div class="feed">
            
        </div>
    </body>
</html>