<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link rel="stylesheet" href="/cdn/stylesheets/auth.css">
    </head>
    <body>
        <div class="title">
            assbook
        </div>
        <div class="instructions">
            log in here
        </div>
        <form class="login">
            <input type="text" placeholder="Username" class="username">
            <input type="text" placeholder="Password" class="password">
        </form>
            <p class="loginFeedback">Enter username and password</p>
        <div class="loginButton">
            <button>login</button>
        </div>
        <script type="module" src="/cdn/scripts/auth/login.js"></script>
    </body>
</html>