<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>register</title>
        <link rel="stylesheet" href="/cdn/stylesheets/auth.css">
    </head>
    <body>
        <div class="title">
            assbook
        </div>
        <div class="instructions">
            log in here
        </div>
        <form class="register">
            <input type="text" placeholder="Username" class="username">
            <input type="text" placeholder="Password" class="password">
        </form>
            <p class="registerFeedback">Enter username and password</p>
        <div class="registerButton">
            <button>register</button>
        </div>
        <script src="/cdn/scripts/auth/bower_components/crypto-js/crypto-js.js"></script>
        <script type="module" src="/cdn/scripts/auth/register.js"></script>
    </body>
</html>